{% extends "base.html" %}

{% block content %}

    <p> The snake game is a game we created for users to have fun and have some nostalgia of the
    retro classic snake game. Enjoy!</p>

<h1>Contributors</h1>

<br>

<div><p>
Name: Ryota Suzuki<br/> 
School: San Jose State University<br/>
Major: Computer Engineering<br/>
Year: Senior<br/>
Fun fact: Im a cat person but have a dog 
</p></div>

<br>
<br>

<div><p>
Name: Aryan Kumar<br/>
School: San Jose State University<br/>
Major: Software Engineering<br/>
Year: Junior<br/>
Fun fact: I make music
</p></div>

<br>
<br>

<div><p>
Name: Elias Faris <br/>
School: San Jose State University<br/>
Major: Software Engineering<br/>
Year: Junior<br/>
Fun fact: Water is life
</p></div>


{% endblock %}
