{% extends "base.html" %}

{% block content %}

    <h1>Pick the color you want the snake to be</h1>
    <a href="greengame">Green</a><br>
    <a href="orangegame">Orange</a><br>
    <a href="purplegame">Purple</a><br>
    <a href="redgame">Red</a><br>
    <a href="blackgame">Black (warning the snake's body will not be visible, only for experienced players)</a><br>

    <h1> Game Modes </h1>
    <a href="hardgame"> Hard Mode (this mode randomly generates a red block that you have to avoid as you collect food)</a><br>
    <a href="extremegame"> Extreme Mode (this mode creates a barrier in the middle of the board with a small opening which you have to avoid while collecting food)</a><br>

{% endblock %}:
