
{% extends "base.html" %}
<!--
<html>
<h1>Hi, {{ current_user.username }}, press one of your arrow keys to play the game.</h1>
<<canvas id="canvas" width="300" height="300"></canvas>
<head>
  <script src="scripts/crafty.js"></script>
  <script src="scripts/test.js"></script>
  <script>
    window.addEventListener('load', Game.start);
  </script>
</head>
<body>
</body>
</html>
-->

<html>
  <head>
    <title>Snake Gametitle>
  </head>
  <body>
    <canvasid="gameCanvas"width="300"height="300">canvas>
    <script>
        var snakeColor=prompt('What color do you want the snake to be?')
        var foodColor=prompt('What color do you want the food to be?')
    </script>
  </body>
</html>
