
{% extends "base3.html" %}

{% block content %}

<h1>In case you need help navigating the site</h1><br>

<img src="/static/webappScreenshots/newNavBar.jpg" width="400" height="40" alt="Nav Bar"> <!--gonna have to update this -->
<p> This is how users navigate through the program, they click on these links</p>
<br>
<img src="/static/webappScreenshots/loginPage.jpg" width="400" height="375" alt="Login Page">
<p> The login page where already registered users can enter their credentials to play the game </p>
<br>
<img src="/static/webappScreenshots/registerPage.jpg" width="400" height="375" alt="Register Page">
<p> The page where new users can register their information</p>
<br>
<img src="/static/webappScreenshots/color-modePicker.jpg" width="550" height="400" alt="Color/Mode Picker">
<p> The page where users can pick the color of the snake they want/the game mode that they want to play </p>
<br>
<img src="/static/webappScreenshots/gameBoard.jpg" width="400" height="375" alt="Game Board">
<p> The game board where the game is played, the snake is controlled using arrow keys </p>
<br>
<img src="/static/webappScreenshots/leaderboardPage.jpg" width="400" height="375" alt="Leaderboard">
<p> The leaderboard page where user's scores are saved </p>
<br>
<img src="/static/webappScreenshots/adminPanel.jpg" width="400" height="375" alt="Admin Panel">
<p> The admin panel where admins can clear the database in case of emergencies </p>
<br>
<img src="/static/webappScreenshots/aboutPage.jpg" width="400" height="375" alt="About Page">
<p> The about page where you can get to know us a bit </p>

{% endblock %}
