{% extends "base.html" %}

{% block content %}

    <h1 style= "text-indent: 40px">Leaderboard</h1>

		<div class ="score"><p style= "text-indent: 40px">You scored <span id="result"></span>! </p></div>


    <script>
    document.getElementById("result").innerHTML=localStorage.getItem("points");
	</script>



    {% for user in users %}
    <div><p style= "text-indent: 40px">{{user.username }}: Normal score: {{user.userscore}}, Hard score: {{user.hardscore}}, Black score: {{user.blackscore}}
    {% endfor %}
	</p></div>
    <div style = "position:absolute; left: 50px">
    <button href="color">Click here to replay</button>
    <button onClick="window.location.reload();">Refresh Leaderboard</button>
    </div>

{% endblock %}
